body {
	background-image: url(../img/wallpaper.jpg);
}

p {
  color: white;
}

button {
  background-image: url(../img/button.jpg);
  width: 600px;
  height: 500px;
  margin: 15px;
}

a {
  color: green;
}